<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main>
      <div class="hero-section">
        <img src="/images/home-img1.jpg" alt="Hero Image" />
        <div class="hero-image">
          <h1>Best Ideas for Your Parties</h1>
          <img src="/images/home-img2.jpg" alt="Hero Image" />
          <img src="/images/img3.jpg" alt="Hero Image" />
        </div>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
      </p>
      <section class="section-gallery">
        <div class="gallery-images">
          <img src="/images/birthday.jpg" alt="Birthday Image" />
        </div>
        <div>
          <img src="/images/wedding.jpg" alt="Wedding Image" />
          <img src="/images/corporate.jpg" alt="Corporate Image" />
        </div>
      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
